* {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
}

body{
  background-color: #FFE5AA;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

li{
  
  font-size: 15px;
  text-align: center;
  font-weight: bold
}


a{

 text-transform: uppercase;
 color: black;
 text-decoration: none;
 padding: 0px 0px 0px 0px;
}

.div-li:hover {
  background-color: #FFF4AA;
  color: #462E74;
}

#go1{
  color: #553B00;
  text-decoration: underline;
}

#go2{
  color: #553B00;
  text-decoration: underline;
}

#go3{
  color: #553B00;
  text-decoration: underline;
}

.main-heading{
  font-size: 20px;
}

a:link {
  text-decoration: none;
}


/** HEADER **/
#header-nav {
  background-color: #182257;
  border-radius: 0;
  border: 0;
  margin-top: 0
}

.navbar-brand{
  color: white;
}

.navbar{
  margin-bottom: 0px;
}


#header-nav > div {

  margin-left: 15px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 15px 15px;
    margin-top: 9px;
    margin-right: 15px;
    margin-bottom: 3px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
}

.div-li{

  height: 40px;
  background-color: #7C84AE;
  border : 1px solid black;
  padding-top: 10px;
}

.text-center{
    text-align: center;
    height: 40px;
    padding-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
}

.text-center-heading{
  background-color: #7C84AE;
  text-align: center;
  height: 40px;
  padding-top: 15px;
}

.span-content{
  background-color: #7C84AE;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
}




